@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    max-width: 80%;
    background-color: #F2F2F2;
    padding: 36px 64px;
    border-radius: 20px;
    box-shadow: 8px, 8px, 16px, rgba(0, 0, 0, 0.08);
}

.formulario h2 {
    font-size: 48px;
    font-family: 'Bebas Neue';
}

.formulario label {
    font-size: 20px;
    font-weight: 500;
}